.header {
  flex: 1;
  padding: 3rem;
  background-color: #e5e3d4;
  -webkit-box-shadow: -2px 10px 10px -7px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -2px 10px 10px -7px rgba(0, 0, 0, 0.75);
  box-shadow: -2px 10px 10px -7px rgba(0, 0, 0, 0.75);
  z-index: 1;
}
