.trans_container {
  /* height: 80%; */

  display: grid;
  justify-items: end;
  gap: 6rem;
  padding: 3rem;
  overflow: auto;
}

.conatinaer {
    /* height: 80%; */
  flex: 8;
  overflow: auto;
  max-height: 60rem;
  /* max-height: 80%; */
}

.translate {
  display: grid;
  min-width: 60%;
}

.text_box {
  /* display: grid;
  grid-auto-flow: column; 
  margin-right: 2rem; */
}

.text_div {
  display: grid;
  /* width: 100%; */
  gap: 2rem;
  background-color: #6c8e92;
  border-radius: 6px;
  padding-top: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  color: #f5fafa;
  margin-bottom: 2rem;
  
  position: relative;
}

.action_container {
  display: flex;
  justify-content: space-between;
}

.action {
  display: flex;
  gap: 1rem;
  margin-bottom: -1rem;
  font-size: inherit;
}

.action select {
  background-color: #8bb7bb;
  color: #f5fafa;
  border: none;
  padding: 1rem;
  font-size: inherit;
  cursor: pointer;
}

.action select:focus {
  /* outline: none; */
  outline: 1px solid #8bb7bb;
}

.lang {
  /* justify-self: end; */
  display: inline-block;
  background-color: #8bb7bb;
  padding: 0.2rem 1.5rem;
  border-radius: 6px;
}

.trans {
  width: 90%;
  border-radius: 6px;
  background-color: #f2b28c;
  color: #fcf0e8;
  margin-left: 4rem;
  margin-top: 1rem;
  padding: 1rem;
}

.sum {
  width: 75%;
  background-color: #a2aeb3;
  color: #f8fdff;
  margin-top: 1rem;
  padding: 1rem;
  margin-left: -1rem;
  border-radius: 6px;
}

.sum_action,
.trans_action {
  border: none;
  color: #4c585b;
  padding: 1rem 1.5rem;
  border-radius: 6px;
  cursor: pointer;
}

.sum_action {
  margin-right: 1rem;
  background-color: #a2aeb3;
  color: #f8fdff;
  font-size: 2rem;
  border-radius: 0%;
}

.trans_action {
  background-color: #f2b28c;
  color: #fcf0e8;
  font-size: 2rem;
  border-radius: 0%;
}

.sum_action:disabled {
  cursor: not-allowed;
  pointer-events: none;
  background-color: #bec6ca;
}

@media only screen and (max-width: 50em) {
  .trans_action {
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
  }
  .sum_action {
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
  }

  .action {
    gap: 0.5rem;
    padding: 0.5rem;
    font-size: 1.5rem;
  }
  .action select {
    padding: 0.5rem;
    padding-right: 0.2rem;
  }
}

@media only screen and (max-width: 25em) {
  .lang {
    position: absolute;
    top: -5%;
    right: 5%;
  }
}
