*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

@media only screen and (max-width: 50em) {
  html { 
    font-size: 50%;
  }
}


body {
  color: #4C585B;
  font-size: 2rem; 
  /* padding: 2rem; */
  
  font-family: "Roboto", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal; 
  line-height: 1.5;
}

.container {
   height: 100vh;
  /* width: 100%; */
  display: grid;
  grid-template-columns:
    [full-start] minmax(6rem, 1fr) [center-start] repeat(
      8,
      minmax(min-content, 14rem)
    )
    [center-end] minmax(6rem, 1fr) [full-end];
}

@media only screen and (max-width: 37.5em) {
  .container { 
    grid-template-columns:
    [full-start] minmax(2rem, 1fr) [center-start] repeat(
      8,
      minmax(min-content, 14rem)
    )
    [center-end] minmax(2rem, 1fr) [full-end];
  }
}

.feature {
  /* height: 100%; */
  grid-column: center-start/ center-end;
  border: 2px solid #d1d8c5;
  border-radius: 6px;
  margin-top: 3rem;
  margin-bottom: 3rem; 
  position: relative;
  /* padding: 20px; */
  
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  height: 100vh;
  /* width: 100%; */

  -webkit-box-shadow: 0px 12px 10px 4px rgba(209, 216, 197, 1);
  -moz-box-shadow: 0px 12px 10px 4px rgba(209, 216, 197, 1);
  box-shadow: 0px 12px 10px 4px rgba(209, 216, 197, 1);
}

.feature::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  top: -15px;
  left: 60px;
  border-left: 2px solid #d1d8c5;
  border-top: 2px solid #d1d8c5;
  /* transform: skewX(-45deg); */
  transform: rotate(45deg);
  background-color: #fff;
  z-index: 2;
}

section {
  flex: 1;
}